@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap');

body {
    font-family: 'Hind Siliguri', sans-serif;
}

.bangla-font {
    color: rgb(255, 255, 255);
}

.nav-back {
    background-color: crimson;
}

.my-name {
    color: crimson;
}

.my-name a {
    text-decoration: none;
    color: crimson;
}
